{
    "consumer_key":"YOUR_consumer_key_HERE",
    "consumer_secret":"YOUR_consumer_secret_HERE",
    "access_token_key":"YOUR_access_token_key_HERE",
    "access_token_secret":"YOUR_access_token_secret_HERE"
}